$label-color: #003145;
$alert-color: #d40504;
$font-bold: bold;

.error 
     border: 1px solid #ff0000;
       
input 
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      
input:focus 
      border: 1px solid $label-color;
        

h1
    text-align: center;
    color: $label-color;
    font-size: 34px;
        
h3
    color: $label-color;

div
    font-family: myFirstFont;
    padding: 10px;

.buttonenable
        background-color: $alert-color;
        border: none;
        color: white;
        padding: 12px 20px;
        margin: 8px 8px 8px 0px;
        text-align: center;
        font-family: myFirstFont;
        font-size: 16px;
        width: 100%;


.buttondisable
       @extend .buttonenable;
       opacity: .5;
       

.alert
    color: $alert-color;
    margin-top: 2px;
    font-size: .9em;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
   

.parastyle
    font-size: 25px; 
    text-align: center; 
    color: $label-color; 
    font-weight: $font-bold;    

.lblstyle
    color: $label-color; 
    font-weight: $font-bold;


@media only screen and (min-width: 770px)  

    .responsiveStyle
        border: 1px solid $label-color;
        padding: 10px; 
        margin-top: 30px;
        width: 388px;
        height: 90%;
        
    .container
        display: flex;
        justify-content: center;

    
