<div class="container">
    <div class="responsiveStyle">
        <h1 tabindex="1">
            RETRIVE YOUR BOOKING
        </h1>
        <p class="parastyle">&#8213;</p>
        <h3 id="prgrph" tabindex="2">
            You can find your booking by filling out your family name and booking code in your booking confirmation.
        </h3>
        <br>
        <br>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <label class="lblstyle" tabindex="0" for="bookingcode">Booking Code</label>
            <input tabindex="4" name="bookingcode" id="bookingcode" [ngClass]="{'error': isValid('bookingcode')}" placeholder="" formControlName="bookingcode" aria-required="true" aria-describedby="Enter Booking Code">
            <div *ngIf="isValid('bookingcode')">
                <span class="alert" *ngIf="form.controls['bookingcode'].hasError('minlength')"> Min. Length should be 5 and Max. Length should be 6.</span>
                <span class="alert" *ngIf=" form.controls[ 'bookingcode'].hasError( 'maxlength') "> Min. Length should be 5 and Max. Length should be 6. </span>
                <span class="alert" *ngIf="form.controls['bookingcode'].hasError('required')">Booking Code is requierd </span>
                <span class="alert" *ngIf=" form.controls[ 'bookingcode'].hasError( 'pattern') ">Only Alphabet and Numbers between 2 and 9 allowed.</span>
            </div>

            <label class="lblstyle" tabindex="0 " for="familyname ">Family Name</label>
            <input tabindex="6 " name="familyname" id="familyname" [ngClass]="{ 'error': isValid( 'familyname')} " placeholder=" " formControlName="familyname" aria-required="true " aria-describedby="Enter Family Name ">
            <div *ngIf="isValid( 'familyname') ">
                <span class="alert" *ngIf="form.controls[ 'familyname'].hasError( 'required') ">Family Name is Requierd</span>
                <span class="alert" *ngIf="form.controls[ 'familyname'].hasError( 'minlength') ">Min. Length should be 2 and Max. Length should be 30</span>
                <span class="alert" *ngIf="form.controls[ 'familyname'].hasError( 'maxlength') ">Min. Length should be 2 and Max. Length should be 30. </span>
                <span class="alert" *ngIf="form.controls[ 'familyname'].hasError( 'pattern') ">Only Alphabets are  allowed.</span>
            </div>

            <br> <br>
            <Button tabindex="7 " aria-required="true " type="submit " [disabled]="!form.valid " [ngClass]="{ 'buttondisable': !form.valid, 'buttonenable': form.valid} ">RETRIEVE BOOKING</Button>
        </form>

    </div>

</div>